<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Med Pro Admin Dashboard</title>

    <th:block th:replace="/dashboard/fragment/head-css"/>
</head>

<body>
<div id="app">
    <!--    sidebar -->
    <th:block th:replace="/dashboard/fragment/sidebar"/>
    <div id="main">
        <!--    heading-->
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <!--    <div class="page-heading">-->
        <!--      <h3>QUẢN LÝ DANH MỤC DỊCH VỤ</h3>-->
        <!--    </div>-->
        <div class="loader hide">
            <div id="loading"></div>
        </div>
        <!--    content-->
        <div class="page-content">
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <!--              <h3>DataTable</h3>-->
                            <!--              <p class="text-subtitle text-muted">For user to check they list</p>-->
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">GÓI XÉT NGHIỆM</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="row" id="table-striped">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">QUẢN LÝ GÓI XÉT NGHIỆM</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <button class="btn btn-primary" id="btnCreateShowModal">
                                            <i class="fas fa-user-plus"></i> Thêm gói xét nghiệm
                                        </button>
                                    </div>
                                    <!-- table striped -->
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0" id="tableGoiDv">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>MÃ GÓI</th>
                                                <th>TÊN GÓI</th>
                                                <th>ĐƠN GIÁ</th>
                                                <th class="text-center">TÙY CHỌN</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <!--        footer-->
        <footer class="container-fluid" id="footer-control">

        </footer>

        <th:block th:replace="/dashboard/goi_dv/modalCreate"/>
        <th:block th:replace="/dashboard/goi_dv/modalInfo"/>
        <th:block th:replace="/dashboard/goi_dv/modalUpdate"/>
        <th:block th:replace="/dashboard/fragment/footer"/>
    </div>
</div>
<!--footer JS-->
<th:block th:replace="/dashboard/fragment/footer-js"/>


<script>


    const page = {
        url: {
            getAllDanhMucDv: App.API_DM_DV,
            getAllGoiDv: App.API_DM_GOI_DV,
            getGoiDvById: App.API_DM_GOI_DV,
            creatGoiDichVu: App.API_DM_GOI_DV,
            updateGoiDichVu: App.API_DM_GOI_DV,
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            command: {}
        },
        initializeControlEvent: {}
    }
    page.elements.btnShowCreateModal = $('#btnCreateShowModal');
    page.elements.tbGoiDichVu = $('#tableGoiDv tbody');
    page.elements.loader = $(".loader");

    page.dialogs.elements.modalCreate = $('#modalCreate');
    page.dialogs.elements.errorAreaCreate = $('#modalCreate .error-area')
    page.dialogs.elements.frmCreate = $('#frmCreate');
    page.dialogs.elements.maGoiCre = $('#maGoiCre');
    page.dialogs.elements.tenGoiCre = $('#tenGoiCre');
    page.dialogs.elements.donGiaGoiCre = $('#donGiaGoiCre');
    page.dialogs.elements.listDvCre = $('#frmCreate #multiple-select-clear-field');
    page.dialogs.elements.btnCreate = $('#btnCreate');

    page.dialogs.elements.modalUpdate = $('#modalUpdate');
    page.dialogs.elements.errorAreaUpdate = $('#modalUpdate .error-area')
    page.dialogs.elements.frmUpdate = $('#frmUpdate');
    page.dialogs.elements.maGoiUp = $('#maGoiUp');
    page.dialogs.elements.tenGoiUp = $('#tenGoiUp');
    page.dialogs.elements.donGiaGoiUp = $('#donGiaGoiUp');
    page.dialogs.elements.listDvUp = $('#frmUpdate #multiple-select-clear-field');
    page.dialogs.elements.btnUpdate = $('#btnUpdate');

    page.dialogs.elements.modalInfo = $('#modalInfo');
    page.elements.tableGoiInfo = $('#tableGoiInfo tbody');
    page.dialogs.elements.maGoiInfo = $('#maGoiInfo');
    page.dialogs.elements.tenGoiInfo = $('#tenGoiInfo');
    page.dialogs.elements.donGiaGoiInfo = $('#donGiaGoiInfo');


    let dmGoiId = 0;
    let dmGoiDv = null;

    page.commands.renderGoiDv = (goiDichVu) => {
        return `
            <tr id="tr_${goiDichVu.id}">
                <td >${goiDichVu.id}</td>
                <td>${goiDichVu.maGoi}</td>
                <td>${goiDichVu.tenGoi}</td>
                <td>${goiDichVu.giaGoi.toLocaleString('vi', {style: 'currency', currency: 'VND'})}</td>
                <td class="text-center">
                    <button class="btn btn-outline-warning info mx-2" data-id="${goiDichVu.id}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Chi tiết gói">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <button class="btn btn-outline-success edit" data-id="${goiDichVu.id}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa gói">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-outline-danger mx-2" delete data-id="${goiDichVu.id}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Hủy gói">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>

            </tr>
    `;
    }

    page.commands.renderDanhMucDv = (dmDichVu, index) => {
        return `
            <tr>
                <td class="text-center">${index + 1}</td>
                <td>${dmDichVu.maDv}</td>
                <td>${dmDichVu.tenDv}</td>
                <td class="text-end">${dmDichVu.donGiaTT.toLocaleString('vi', {style: 'currency', currency: 'VND'})}</td>
                <td class="text-center">${dmDichVu.dmNhomDv.maNhomDv}</td>
                <td class="text-center text-uppercase"><span class="badge bg-info">${dmDichVu.dmNhomDv.tenNhomDv}</span></td>
            </tr>
    `;
    }

    page.commands.getAllGoiDv = () => {
        page.elements.tbGoiDichVu.empty();

        $.ajax({
            type: 'GET',
            url: page.url.getAllGoiDv
        })
            .done((data) => {
                data.forEach(item => {
                    dmGoiDv = item;
                    const str = page.commands.renderGoiDv(dmGoiDv);
                    page.elements.tbGoiDichVu.prepend(str);
                });
            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.commands.getGoiDvById = (id) => {
        page.commands.showLoading();
        return $.ajax({
            type: 'get',
            url: page.url.getAllGoiDv + '/' + id,
        })
            .always(() => {
                page.commands.closeLoading();
            })
    }

    page.commands.getAllDanhMucDv = () => {

        return $.ajax({
            type: 'GET',
            url: page.url.getAllDanhMucDv
        })
            .done((data) => {
                const dmDichVu = data;
                page.dialogs.elements.listDvCre.empty();
                page.dialogs.elements.listDvUp.empty();
                // $.each(dmDichVu, (index, item) => {
                //   const str = `<option value="${item.maDv}">${item.tenDv}</option>`;
                //   page.dialogs.elements.listDvCre.append(str);
                //   page.dialogs.elements.listDvUp.append(str);
                // });

            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.dialogs.command.create = () => {
        const maGoi = page.dialogs.elements.maGoiCre.val();
        const tenGoi = page.dialogs.elements.tenGoiCre.val();
        const giaGoi = page.dialogs.elements.donGiaGoiCre.val();
        const maDvList = JSON.stringify(page.dialogs.elements.listDvCre.val());
        console.log(page.dialogs.elements.listDvCre.val())
        console.log(maDvList)


        dmGoiDv = {
            maGoi,
            tenGoi,
            giaGoi,
            maDvList
        }
        console.log(dmGoiDv)
        console.log(JSON.stringify(dmGoiDv))

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json',
            },
            type: 'POST',
            url: page.url.creatGoiDichVu,
            data: JSON.stringify(dmGoiDv)
        })
            .done((data) => {
                dmGoiDv = data;
                const str = page.commands.renderGoiDv(dmGoiDv);

                page.elements.tbGoiDichVu.append(str);
                page.dialogs.elements.modalCreate.modal('hide');
                App.showSuccessAlert("Thêm mới gói xét nghiệm thành công!");
            })
            .fail((error) => {
                const responseJSON = error.responseJSON;

                page.dialogs.elements.errorAreaCreate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Dep">${v}</label>`
                })
                page.dialogs.elements.errorAreaCreate.append(str).removeClass('hide').addClass('show');
            })
    }

    page.dialogs.command.update = () => {
        const maGoi = page.dialogs.elements.maGoiUp.val();
        const tenGoi = page.dialogs.elements.tenGoiUp.val();
        const giaGoi = page.dialogs.elements.donGiaGoiUp.val();
        const maDvList = JSON.stringify(page.dialogs.elements.listDvUp.val());
        console.log(page.dialogs.elements.listDvUp.val())
        console.log(maDvList)


        dmGoiDv = {
            maGoi,
            tenGoi,
            giaGoi,
            maDvList
        }
        console.log(dmGoiDv)
        console.log(JSON.stringify(dmGoiDv))

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json',
            },
            type: 'PATCH',
            url: page.url.updateGoiDichVu + '/' + dmGoiId,
            data: JSON.stringify(dmGoiDv)
        })
            .done((data) => {
                dmGoiDv = data;
                const str = page.commands.renderGoiDv(dmGoiDv);

                const currentRow = $('#tr_' + dmGoiId);
                currentRow.replaceWith(str);
                page.dialogs.elements.modalCreate.modal('hide');
                App.showSuccessAlert("Cập nhập gói xét nghiệm thành công!");
            })
            .fail((error) => {
                const responseJSON = error.responseJSON;

                page.dialogs.elements.errorAreaUpdate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Dep">${v}</label>`
                })
                page.dialogs.elements.errorAreaUpdate.append(str).removeClass('hide').addClass('show');
            })
    }

    page.commands.handleAddEventShowModalInfo = (dmGoiId) => {

        page.commands.getGoiDvById(dmGoiId).then((data) => {
            dmGoiDv = data;
            page.dialogs.elements.maGoiInfo.val(dmGoiDv.maGoi);
            page.dialogs.elements.tenGoiInfo.val(dmGoiDv.tenGoi);
            page.dialogs.elements.donGiaGoiInfo.val(dmGoiDv.giaGoi);
            page.elements.tableGoiInfo.empty();
            dmGoiDv.dmDichVuList.map((item, index) => {
                const dmDichVu = item;
                const str = page.commands.renderDanhMucDv(dmDichVu, index);
                page.elements.tableGoiInfo.append(str);
            })
            page.dialogs.elements.modalInfo.modal('show');

        })
            .catch((error) => {
                console.log(error);
            });
    }


    page.commands.handleAddEventShowModalUpdateGoi = (dmGoiId) => {
        page.commands.getGoiDvById(dmGoiId).then((data) => {
            dmGoiDv = data;
            page.dialogs.elements.maGoiUp.val(dmGoiDv.maGoi);
            page.dialogs.elements.tenGoiUp.val(dmGoiDv.tenGoi);
            page.dialogs.elements.donGiaGoiUp.val(dmGoiDv.giaGoi);
            const maDVlist = dmGoiDv.dmDichVuList.map(dmDv => dmDv.maDv);
            page.dialogs.elements.listDvUp.val(maDVlist).trigger('change');

            page.dialogs.elements.modalUpdate.modal('show');
        })
            .catch((err) => {
                console.log(err)
            })
    }

    page.commands.showLoading = () => {
        page.elements.loader.removeClass("hide");
        page.dialogs.elements.btnUpdate.prop('disabled', true);
        page.dialogs.elements.btnCreate.prop('disabled', true);
    }

    page.commands.closeLoading = () => {
        page.elements.loader.addClass("hide");
        page.dialogs.elements.btnUpdate.prop('disabled', false);
        page.dialogs.elements.btnCreate.prop('disabled', false);
    }

    page.initializeControlEvent = () => {
        // click thêm gói dịch vụ
        page.elements.btnShowCreateModal.on('click', () => {
            page.commands.getAllDanhMucDv().then((data) => {
                const result1 = data.map(function (element) {
                    return Object.assign({}, {id: element.id, text: element.tenDv});
                });
                page.dialogs.elements.listDvCre.select2({
                    theme: "bootstrap-5",
                    data: result1,
                    dropdownParent: $('#modalCreate'),
                    width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                    placeholder: $(this).data('placeholder'),
                    closeOnSelect: false,
                    allowClear: true,
                });
            })

            page.dialogs.elements.frmCreate[0].reset();
            // page.dialogs.elements.frmCreate.validate().resetForm();
            page.dialogs.elements.frmCreate.find("input.error").removeClass("error");
            page.dialogs.elements.errorAreaCreate.removeClass("show").addClass("hide").empty();
            page.dialogs.elements.modalCreate.modal('show');
        })

        // click xem thông tin gói
        page.elements.tbGoiDichVu.on('click', '.info', function () {
            dmGoiId = $(this).data('id');
            page.commands.handleAddEventShowModalInfo(dmGoiId);
        })

        // click chỉnh sửa thông tin gói
        page.elements.tbGoiDichVu.on('click', '.edit', function () {
            page.commands.getAllDanhMucDv().then((data) => {

                page.dialogs.elements.listDvUp.select2({
                    theme: "bootstrap-5",
                    data: data.map(function (element) {
                        return Object.assign({}, {id: element.maDv, text: element.tenDv});
                    }),
                    // dropdownParent: $('#modalUpdate'),
                    // width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                    placeholder: $(this).data('placeholder'),
                    // closeOnSelect: false,
                    // allowClear: true,
                    templateResult: formatState,
                });
                function formatState(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    let $state = $('<span><input type="checkbox" class="form-check-input"> ' + state.text + '</span>');
                    return $state;
                }
            })
            dmGoiId = $(this).data('id');
            console.log(dmGoiId)
            page.dialogs.elements.frmUpdate[0].reset();
            page.dialogs.elements.frmUpdate.find("input.error").removeClass("error");
            page.dialogs.elements.errorAreaUpdate.removeClass("show").addClass("hide").empty();
            page.commands.handleAddEventShowModalUpdateGoi(dmGoiId);
        })

        // bắt sự kiện nhấn vô nút save create

        page.dialogs.elements.btnCreate.on('click', () => {
            page.dialogs.elements.frmCreate.trigger("submit");
            // page.dialogs.command.create();
        })

        // bắt sự kiện nhấn vô nút save update

        page.dialogs.elements.btnUpdate.on('click', () => {
            page.dialogs.command.update();
        })
    }

    page.loadData = () => {
        page.commands.getAllGoiDv();
        // page.commands.getAllDanhMucDv();
    }

    $(() => {
        page.loadData();
        page.initializeControlEvent();
    })

</script>


<script src="/dashboard/assets/js/dmGoiDv-validation.js"></script>
</body>

</html>