<th:block th:fragment="modalUpdate">
  <!-- Modal Update-->
  <div class="modal fade" id="modalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Appointment Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" id="frmUpdate">

          <div class="modal-body">
            <div class="error-area hide"></div>
            <div class="row mb-3">
              <div class="col-lg-4">
                <label class="fw-bold">Doctor</label>
                <select class="form-select" id="doctorUp"></select>
              </div>
              <div class="col-lg-4">
                <label class="fw-bold">Room</label>
                <select class="form-select" id="roomUp"></select>
              </div>
              <div class="col-lg-4">
                <label class="fw-bold">Time</label>
                <select class="form-select" id="timeUp"></select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                <label class="fw-bold" for="dayUp">Day</label>
                <input type="text" class="form-control" id="dayUp" name="dayUp">
              </div>
              <div class="col-lg-6">
                <label class="fw-bold">Available</label>
                <select class="form-select" id="availableUp">
                  <option value="0" class="text-danger">Not Available</option>
                  <option value="1" class="text-success">Available</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btnUpdate">
              <i class="fas fa-pencil-alt"></i>
              Save changes
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</th:block>