<th:block th:fragment="header">
  <script src="/dashboard/assets/js/app.js"></script>
  <script src="/homepage/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/homepage/assets/js/jquery.validate.min.js"></script>
  <script src="/homepage/assets/sweetalert2/v11.7.12/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="/homepage/assets/js/moment.min.js"></script>
  <script src="/homepage/assets/bootstrap/v5.3.0/js/bootstrap-datetimepicker.min.js"></script>

</th:block>