<th:block th:fragment="header">
  <div class="footer">
    <div data-test="animation" class="animated fadeIn style_footer__2ofvm"
         style="animation-name: fadeIn; visibility: visible; animation-iteration-count: 1;">
      <div class="style_footer_inner__3bmPJ">
        <div data-test="container" class="container">
          <div data-test="row" class="row">
            <div data-test="col" class="col-lg-2">
              <div class="style_footer_item__2rIfV"><a href="/static">
                <div class="lazyload-wrapper "><img
                        src="/homepage/assets/img/logo_n.png"
                        class="img-fluid style_logo_footer__XtemS" alt=""></div>
              </a></div>
            </div>
            <div data-test="col" class="col-lg-5">
              <div class="style_footer_item__2rIfV">
                <ul data-test="list-group" class="list-group style_item_info__3c0lh">
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><span href="#"
                                                                              class="style_textPKH__2bo7W"><strong>BỆNH VIỆN TRUNG ƯƠNG HUẾ</strong></span></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><span href="#">Địa chỉ:
                                                16 Lê Lợi, Vĩnh Ninh, Tp Huế, TT Huế</span></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="www.bvdaihoc.com.vn" target="_blank"
                          rel="noopener noreferrer">Website: www.bvtwhue.com.vn</a></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><span href="#">Email:
                                                bvtwhue1894@gmail.com</span></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><span href="#">Điện thoại:
                                                0234 3822 325</span></li>
                </ul>
              </div>
            </div>
            <div data-test="col" class="col-lg-2 d-none d-lg-block">
              <div class="style_footer_item__2rIfV">
                <ul data-test="list-group" class="list-group style_item_info__3c0lh">
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a href="/lien-he">Liên
                    hệ</a></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="/dieu-khoan-dich-vu">Điều khoản dịch vụ</a></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="/quy-dinh-su-dung">Quy định sử dụng</a></li>
                </ul>
              </div>
            </div>
            <div data-test="col" class="col-lg-3">
              <div class="style_footer_item__2rIfV">
                <ul data-test="list-group"
                    class="list-group style_item_info__3c0lh style_icons__3sEtr">
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="http://online.gov.vn/Home/WebDetails/44668" target="_blank"
                          title="Bộ công thương" rel="noreferrer">
                    <div class="lazyload-wrapper "><img
                            src="/homepage/assets/img/bocongthuong.svg" alt=""></div>
                  </a></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="http://online.gov.vn/Home/WebDetails/44209" target="_blank"
                          title="Bộ công thương" rel="noreferrer">
                    <div class="lazyload-wrapper "><img
                            src="/homepage/assets/img/bocongthuong1.svg" alt=""></div>
                  </a></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="https://play.google.com/store/apps/details?id=vn.pkh.medpro"
                          alt="apple-app-icon" target="_blank" rel="noopener noreferrer">
                    <div class="lazyload-wrapper "><img
                            src="/homepage/assets/img/googleplay.svg" alt=""></div>
                  </a></li>
                  <li data-test="list-group-item"
                      class="list-group-item list-group-item-undefined"><a
                          href="https://apps.apple.com/vn/app/umc-đăng-ký-khám-bệnh-online/id1427830275"
                          alt="apple-app-icon" target="_blank" rel="noopener noreferrer">
                    <div class="lazyload-wrapper "><img
                            src="/homepage/assets/img/appstore.svg" alt=""></div>
                  </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="style_footer_copy_right__3d8A7">
        <div data-test="container" class="container">
          <div data-test="row" class="row">
            <div data-test="col" class="col-12">
              <div class="style_footer_item__2rIfV">© 2020 - Bản quyền thuộc Công Ty Cổ Phần Ứng Dụng
                PKH</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</th:block>