<th:block th:fragment="footer-js">
  <script src="/dashboard/assets/js/app.js"></script>

  <script src="/dashboard/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="/dashboard/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/dashboard/assets/vendors/simple-datatables/simple-datatables.js"></script>
<!--  <script src="/dashboard/assets/vendors/apexcharts/apexcharts.js"></script>-->
  <script src="/dashboard/assets/js/pages/dashboard.js"></script>
  <script src="/dashboard/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/dashboard/assets/js/jquery.validate.js"></script>
  <script src="/dashboard/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>

  <script src="/dashboard/assets/js/jquery.twbsPagination.min.js"></script>
  <script src="/dashboard/assets/js/main.js"></script>
  <script src="/dashboard/assets/vendors/fontawesome/all.min.js"></script>
  <script src="/dashboard/assets/vendors/sweetalert2/sweetalert2.all.min.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</th:block>