<th:block th:fragment="sidebar">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="/"><img src="/homepage/assets/img/bg.jpg" alt="Logo" srcset="" style="width: 186px; height: 60px"></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item">
                        <a href="index.html" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="/admin/users" class='sidebar-link'>
                            <i class="bi bi-file-person"></i>
                            <span>Users</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="/admin/customers" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Customer</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="/admin/appointments" class='sidebar-link'>
                            <i class="bi bi-file-post-fill"></i>
                            <span>Appointments</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="/admin/doctors" class='sidebar-link'>
                            <i class="fa fa-stethoscope"></i>
                            <span>Doctors</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="/admin/specialities" class='sidebar-link'>
                            <i class="bi bi-house-door"></i>
                            <span>Specialities</span>
                        </a>
                    </li>

<!--                    <li class="sidebar-item  ">-->
<!--                        <a href="/admin/rooms" class='sidebar-link'>-->
<!--                            <i class="bi bi-grid-1x2-fill"></i>-->
<!--                            <span>Rooms</span>-->
<!--                        </a>-->
<!--                    </li>-->

                    <li class="sidebar-item  ">
                        <a href="/admin/goi_dv" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Gói Xét Nghiệm</span>
                        </a>
                    </li>

<!--                    <li class="sidebar-item  ">-->
<!--                        <a href="/admin/medical-bills" class='sidebar-link'>-->
<!--                            <i class="bi bi-cash"></i>-->
<!--                            <span>Medical-Bills</span>-->
<!--                        </a>-->
<!--                    </li>-->

                    <li class="sidebar-item  ">
                        <a href="/admin/dm_nhom_dv" class='sidebar-link'>
                            <i class="bi bi-cash"></i>
                            <span>Nhóm Dịch vụ</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="/admin/dm_dv" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Dịch vụ</span>
                        </a>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
</th:block>