<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ | MEDIC-PRO</title>

    <th:block th:replace="/homepage/fragment/head_css"/>
    <link rel="stylesheet" href="/homepage/assets/css/customer.css">
</head>

<body>
<div class="container-fluid">
    <th:block th:replace="/homepage/fragment/header"/>


    <div class="content">
        <div class="style_wrapper_content__2nPtC">
            <div class="style_bg_breakcum__2BT1J">
                <div data-test="container" class="container">
                    <div data-test="row" class="row">
                        <div data-test="col" class="col-12">
                            <div class="style_wrap_mdbreadcrumb__1e17- style_head__1hfhC">
                                <nav data-test="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li data-test="breadcrumb-item" class="breadcrumb-item"><a href="/">Trang
                                            chủ</a></li>
                                        <li data-test="breadcrumb-item" class="breadcrumb-item">Thông tin tài khoản
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="">
                    <div data-test="container" class="container">
                        <div data-test="row" class="row">
                            <div data-test="col" class="col-md-5 col-lg-4"><a class="style_add_patients__3Xfx1"
                                                                              href="/profile-create"><i
                                    class="fas fa-user-plus" style="margin: 5px;"></i>Thêm
                                hồ sơ bệnh nhân</a>
                                <ul data-test="nav" class="nav style_nav_tab_info__EceGo">
                                    <li data-test="nav-item" class="nav-item"><a aria-current="page"
                                                                                 class="nav-link Ripple-parent active undefined style_active__3LHs4 active"
                                                                                 data-test="nav-link" role="tab"
                                                                                 href="/user"><i
                                            class="far fa-address-book" style="margin: 5px;"></i> Hồ sơ bệnh nhân
                                        <div
                                                data-test="waves" class="Ripple is-reppling"
                                                style="top: -143px; left: -28.6px; width: 350px; height: 350px;">
                                        </div>
                                    </a></li>
                                    <li data-test="nav-item" class="nav-item"><a aria-current="page"
                                                                                 class="nav-link Ripple-parent undefined active"
                                                                                 data-test="nav-link"
                                                                                 role="tab" href="/user"><i
                                            class="fas fa-file-medical" style="margin: 5px;"></i>Phiếu khám
                                        bệnh
                                        <div data-test="waves" class="Ripple is-reppling"
                                             style="top: -147px; left: 44.4px; width: 350px; height: 350px;">
                                        </div>
                                    </a></li>
                                    <li data-test="nav-item" class="nav-item"><a aria-current="page"
                                                                                 class="nav-link Ripple-parent undefined active"
                                                                                 data-test="nav-link"
                                                                                 role="tab" href="/user"><i
                                            class="far fa-bell" style="margin: 5px;"></i>Thông báo
                                        <div data-test="waves" class="Ripple is-reppling"
                                             style="top: -153px; left: 20.4px; width: 350px; height: 350px;">
                                        </div>
                                    </a></li>
                                    <li data-test="nav-item" class="nav-item"><a aria-current="page"
                                                                                 class="nav-link Ripple-parent undefined active"
                                                                                 data-test="nav-link"
                                                                                 role="tab" href="/user"><i
                                            class="fas fa-history" style="margin: 5px;"></i>Lịch sử thanh toán
                                        viện phí
                                        <div data-test="waves" class="Ripple "
                                             style="top: 0px; left: 0px; width: 0px; height: 0px;"></div>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                            <div data-test="col" class="col-md-7 col-lg-8">
                                <div data-test="card" class="card style_panels__1davb">
                                    <div data-test="row" class="row">
                                        <div data-test="col" class="col">
                                            <div class="style_header__1_Gz3">
                                                <div>
                                                    <div data-test="row" class="row align-items-center">
                                                        <div data-test="col" class="col">

                                                            <h1 class="style_header_title__25bGC">Danh sách hồ sơ
                                                                bệnh nhân</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-test="tabContent" class="tab-content style_tabcontent__ELp7H"
                                         id="tbCustomer">
                                        <div data-test="tab-pane" role="tabpanel" class="tab-pane active">
                                            <div data-test="animation" class="animated fadeIn"
                                                 style="animation-iteration-count: 1; visibility: visible; animation-name: fadeIn;">
                                                <ul data-test="list-group"
                                                    class="list-group style_list_group__25xx5 style_list_group_parent___IU8v">
                                                    <li data-test="list-group-item"
                                                        class="list-group-item list-group-item-undefined">
                                                        <div data-test="card" class="card style_card__32ed1">
                                                            <div data-test="card-body"
                                                                 class="card-body style_card_body__1hqQe">
                                                                <ul data-test="list-group"
                                                                    class="list-group style_list_group__25xx5 style_sub_list_group__1gbnz">
                                                                    <li data-test="list-group-item"
                                                                        class="list-group-item list-group-item-undefined">
                                                                        <div
                                                                                class="style_column1__2NaCG style_blue__2S_ON"
                                                                                th:text="${customer.fullName}">
                                                                            <i class="fas fa-user"></i></div>
                                                                    </li>
                                                                    <li data-test="list-group-item"
                                                                        class="list-group-item list-group-item-undefined">
                                                                        <div class="style_column1__2NaCG">
                                                                            <i class="fas fa-mobile-alt"></i>Điện thoại
                                                                        </div>
                                                                        <div class="style_column2__28yir" th:text="${customer.phone}">
                                                                            <strong></strong></div>
                                                                    </li>
                                                                    <li data-test="list-group-item"
                                                                        class="list-group-item list-group-item-undefined">
                                                                        <div class="style_column1__2NaCG">
                                                                            <i class="fas fa-map-marker-alt"></i>Địa
                                                                            chỉ
                                                                        </div>
                                                                        <div class="style_column2__28yir"
                                                                             th:text="${customer.locationRegion.address}"></div>
                                                                    </li>
                                                                    <li data-test="list-group-item"
                                                                        class="list-group-item list-group-item-undefined">
                                                                        <div
                                                                                class="style_action_edit_remove__1WPod">
                                                                            <button data-test="button" type="button"
                                                                                    id="btnRemove"
                                                                                    class="btn-default btn Ripple-parent style_button__1_7zd style_remove__2ZZiy style_small__27yEW">
                                                                                <i class="far fa-trash-alt"></i>
                                                                                Xoá hồ sơ
                                                                                <div data-test="waves"
                                                                                     class="Ripple "
                                                                                     style="top: 0px; left: 0px; width: 0px; height: 0px;">
                                                                                </div>
                                                                            </button>
                                                                            <a href="/profile-update"
                                                                               class="btn-default btn Ripple-parent style_button__1_7zd style_edit__NUcmw style_small__27yEW">
                                                                                <i class="far fa-edit"></i>Sửa hồ
                                                                                sơ
                                                                                <div data-test="waves"
                                                                                     class="Ripple "
                                                                                     style="top: 0px; left: 0px; width: 0px; height: 0px;">
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div data-test="tab-pane" role="tabpanel" class="tab-pane"></div>
                                        <div data-test="tab-pane" role="tabpanel" class="tab-pane"></div>
                                        <div data-test="tab-pane" role="tabpanel" class="tab-pane"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- -----------------------Footer----------------------- -->

    <th:block th:replace="/homepage/fragment/footer"/>
</div>


<th:block th:replace="/homepage/fragment/footer_js"/>
</body>
<script>
    const page = {
        url: {
            getAllCustomerById: App.API_CUSTOMER,
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            command: {}
        },
        initializeControlEvent: {}
    }
    let customerId = 1;
    page.elements.name = $('#name');
    page.elements.phone = $('#phone');
    page.elements.locationRegion = $('#locationRegion');

    page.commands.getAllCustomerById = () => {

        return $.ajax({
            type: 'GET',
            url: page.url.getAllCustomerById + "/" + customerId,
        })
            .done((data) => {
                customer = data;
                locationRegion = customer.locationRegion;
                page.elements.name.text(customer.fullName);
                page.elements.phone.text(customer.phone);
                page.elements.locationRegion.text(locationRegion.address + ", " + locationRegion.wardName + ", "
                    + locationRegion.districtName + ", " + locationRegion.provinceName);
            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.loadData = () => {
        page.commands.getAllCustomerById();
    }
    $(() => {
        page.loadData();

    })

</script>
</html>