<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BỆNH VIỆN ĐA KHOA TRUNG ƯƠNG HUẾ | ĐẶT LỊCH LẤY MẪU</title>

    <th:block th:replace="/homepage/fragment/head_css"/>
    <link rel="stylesheet" href="/homepage/assets/css/booking.css">
</head>

<body>
<div class="container-fluid">
    <th:block th:replace="/homepage/fragment/header"/>


    <div class="content">
        <div class="style_wrapper_content__2nPtC" style="min-height: 0">
            <div class="style_bg_breakcum__2BT1J bg-info">
                <div data-test="container" class="container">
                    <div data-test="row" class="row">
                        <div data-test="col" class="col-12">
                            <div class="style_wrap_mdbreadcrumb__1e17- style_head__1hfhC">
                                <nav data-test="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li data-test="breadcrumb-item" class="breadcrumb-item"><a href="/">Trang
                                            chủ</a></li>
                                        <li data-test="breadcrumb-item" class="breadcrumb-item">Đặt lịch lấy mẫu
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main class="site-main">
            <div class="loader hide">
                <div id="loading"></div>
            </div>
            <div class="container">
                <div class="bookings">
                    <div class="block-content">
<!--                        <h5>Chọn nơi lấy mẫu</h5>-->
<!--                        <p>Lấy mẫu xét nghiệm tại nhà giúp khách hàng chủ động tầm soát bệnh lý. Đồng thời tiết kiệm-->
<!--                            thời gian đi lại, chờ đợi kết quả với mức chi phí hợp lý.</p>-->

                        <form id="formLayMauTaiNha" method="post">
                            <div class="form">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 d-flex align-items-center">
                                        <div class="form-check pe-2">
                                            <input class="form-check-input" type="radio" id="home" value=1 name="location">
                                            <label class="form-check-label" for="home">LẤY MẪU TẠI NHÀ</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 d-flex align-items-center">
                                        <div class="form-check pe-2">
                                            <input class="form-check-input" type="radio" id="hospital" value=0 name="location">
                                            <label class="form-check-label" for="hospital">LẤY MẪU TẠI BỆNH VIỆN</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Họ và tên <sup>*</sup></label>
                                        <div class="control">
                                            <input placeholder="Nhập họ và tên" type="text" class="form-control"
                                                   data-val="true" data-val-required="Họ và tên không được để trống"
                                                   id="patientName" name="patientName" value="">
                                            <span class="field-validation-valid" data-valmsg-for="patientName"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Ngày sinh <sup>*</sup></label>
                                        <div class="control">
                                            <input placeholder="-- / -- / ----" class="date form-control" type="text"
                                                   data-val="true" data-val-required="Ngày sinh không được để trống"
                                                   id="patientBirthDate" name="patientBirthDate" value="">
                                            <span class="field-validation-valid" data-valmsg-for="patientBirthDate"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <input value="POSTPAID" style="display:none" type="text" class="form-control"
                                           id="MedthodPayment" name="MedthodPayment">
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Số điện thoại <sup>*</sup></label>
                                        <div class="control">
                                            <input placeholder="Nhập số điện thoại" type="text" class="form-control"
                                                   data-val="true" data-val-required="Số điện thoại không được để trống"
                                                   id="phone" name="phone" value="">
                                            <span class="field-validation-valid" data-valmsg-for="phone"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Email <sup>*</sup></label>
                                        <div class="control">
                                            <input placeholder="Nhập email" type="text" class="form-control"
                                                   data-val="true" data-val-required="Email không được để trống"
                                                   id="email" name="email" value="">
                                            <span class="field-validation-valid" data-valmsg-for="email"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Giới tính <sup>*</sup></label>
                                        <div class="control">
                                            <select data-placeholder="Chọn giới tính"
                                                    class="form-control select2-hidden-accessible" data-val="true"
                                                    data-val-required="Giới tính không được để trống" id="patientSex"
                                                    name="patientSex" data-select2-id="select2-data-patientSex"
                                                    tabindex="-1" aria-hidden="true">
                                                <option value="" data-select2-id="select2-data-2-mb3c">Chọn giới tính
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Loại xét nghiệm</label>
                                        <div class="control">
                                            <select data-placeholder="Chọn loại xét nghiệm"
                                                    class="form-control select2-hidden-accessible" id="TestTypeSelected"
                                                    name="TestTypeSelected"
                                                    data-select2-id="select2-data-TestTypeSelected" tabindex="-1"
                                                    aria-hidden="true">
                                                <option value="" data-select2-id="select2-data-4-wkcx">Chọn loại xét
                                                    nghiệm
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Ngày lấy mẫu <sup>*</sup></label>
                                        <div class="control">
                                            <input placeholder="-- / -- / ----" class="date form-control" type="text"
                                                   data-val="true" data-val-required="Ngày hẹn không được để trống"
                                                   id="appointmentDate" name="appointmentDate">
                                            <span class="field-validation-valid" data-valmsg-for="appointmentDate"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Giờ lấy mẫu <sup>*</sup></label>
                                        <div class="control">
                                            <select data-placeholder="Chọn thời gian lấy mẫu tại nhà"
                                                    class="form-control select2-hidden-accessible" data-val="true"
                                                    data-val-required="Giờ khám không được để trống" id="TimeSelected"
                                                    name="TimeSelected" data-select2-id="select2-data-TimeSelected"
                                                    tabindex="-1" aria-hidden="true">

                                            </select>
                                            <span class="field-validation-valid" data-valmsg-for="TimeSelected"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Tỉnh/Thành phố <sup>*</sup></label>
                                        <div class="control">
                                            <select data-placeholder="Chọn Tỉnh/Thành phố"
                                                    class="form-control select2-hidden-accessible" data-val="true"
                                                    data-val-required="Tỉnh/Thành phố không được để trống"
                                                    id="ProvinceSelected" name="ProvinceSelected"
                                                    data-select2-id="select2-data-ProvinceSelected" tabindex="-1"
                                                    aria-hidden="true">
                                                <option value="" data-select2-id="select2-data-8-3by6">Chọn Tỉnh/Thành
                                                    phố
                                                </option>

                                            </select>
                                            <span class="field-validation-valid" data-valmsg-for="ProvinceSelected"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Quận/Huyện <sup>*</sup></label>
                                        <div class="control">
                                            <select data-placeholder="Chọn Quận/Huyện"
                                                    class="form-control select2-hidden-accessible" data-val="true"
                                                    data-val-required="Quận/Huyện không được để trống"
                                                    id="DistrictSelected" name="DistrictSelected"
                                                    data-select2-id="select2-data-DistrictSelected" tabindex="-1"
                                                    aria-hidden="true">

                                            </select>
                                            <span class="field-validation-valid" data-valmsg-for="DistrictSelected"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Xã/Phường <sup>*</sup></label>
                                        <div class="control">
                                            <select data-placeholder="Chọn Xã/Phường"
                                                    class="form-control select2-hidden-accessible" data-val="true"
                                                    data-val-required="Xã/Phường không được để trống"
                                                    id="WardSelected" name="WardSelected"
                                                    data-select2-id="select2-data-WardSelected" tabindex="-1"
                                                    aria-hidden="true">

                                            </select>
                                            <span class="field-validation-valid" data-valmsg-for="WardSelected"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Địa chỉ <sup>*</sup></label>
                                        <div class="control">
                                            <input placeholder="Nhập địa chỉ" type="text" class="form-control"
                                                   data-val="true" data-val-regex="Địa chỉ không dài quá 100 kí tự"
                                                   data-val-regex-pattern="^.{1,100}$"
                                                   data-val-required="Địa chỉ không được để trống" id="address"
                                                   name="address" value="">
                                            <span class="field-validation-valid" data-valmsg-for="address"
                                                  data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 form-group">
                                        <label>Nội dung yêu cầu<sup>*</sup></label>
                                        <div class="control">
                                            <textarea placeholder="Tôi cảm thấy..." class="form-control" data-val="true"
                                                      data-val-required="Nội dung yêu cầu không được để trống"
                                                      id="reasonNote" name="reasonNote"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-recaptcha" data-sitekey="6LeezS8pAAAAAEIrdIRORYFsCjEd-4zjJHfpNdOJ"></div>
                                <div class="actions">
                                    <a href="tel:1900565565" class="action">Cần tư vấn trực tiếp?</a>
                                    <button type="button" id="btnCreate" class="btn btn-primary tainha">Đặt lịch
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="block-images">
                        <img src="/homepage/assets/img/xetnghiem.png" alt="">
                    </div>
                </div>
            </div>


        </main>
    </div>

    <!-- -----------------------Footer----------------------- -->

    <th:block th:replace="/homepage/fragment/footer"/>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<th:block th:replace="/homepage/fragment/footer_js"/>

<script th:inline="javascript">
    const page = {
        url: {
            getCustomerById: App.API_CUSTOMER,
            getAllProvince: App.API_LOCATION_REGION + '/',
            getAllDistricts: App.API_LOCATION_REGION + '/district',
            getAllWard: App.API_LOCATION_REGION + '/ward',
            getAllGoiDv: App.API_DM_GOI_DV,
            createBillTest: App.API_SERVER + '/bill_tests'
        },
        elements: {},
        loadData: {},
        commands: {},
        initializeControlEvent: {}
    }


    page.elements.frmCreate = $('#formLayMauTaiNha');
    // page.elements.location = $('input[name=location]:checked');
    page.elements.fullNameCre = $('#patientName');
    page.elements.emailCre = $('#email');
    page.elements.genderCre = $('#patientSex');
    page.elements.phoneCre = $('#phone');
    page.elements.testTypeSelected = $('#TestTypeSelected');
    page.elements.appointmentDate = $('#appointmentDate');
    page.elements.timeSelected = $('#TimeSelected');
    page.elements.reasonNote = $('#reasonNote');

    page.elements.dobCre = $('#patientBirthDate');
    page.elements.provinceCre = $('#ProvinceSelected');
    page.elements.districtCre = $('#DistrictSelected');
    page.elements.wardCre = $('#WardSelected');
    page.elements.addressCre = $('#address');
    page.elements.btnCreate = $('#btnCreate');
    page.elements.btnClear = $('#btnClear');

    page.elements.loader = $(".loader");

    let customerId = 0;
    let customer;
    let locationRegion = new LocationRegion();

    const eBookTimes = [[${times}]];
    const eGenders = [[${genders}]];
    let userId = 5;
    if ([[${userId}]] !== null) {
        userId = [[${userId}]];
    }
    console.log(userId);

    const datas = Object.entries(eBookTimes).map(([id, text]) => ({id, text}));
    const genderArr = Object.entries(eGenders).map(([id, text]) => ({id, text}));

    page.commands.bindDataSelect2 = (el, data, selectedvalues) => {
        $(el).empty();
        $(el).select2({
            data: $.map(data, function (obj) {
                return {
                    id: obj.id, text: obj.text
                }
            }),
            minimumResultsForSearch: 0,
            allowClear: true,
            closeOnSelect: true
        });

        if (typeof selectedvalues !== 'undefined' && selectedvalues !== false) {
            $(el).val(selectedvalues).change();
        }
    }

    page.commands.bindDataSelect2(page.elements.timeSelected, datas);

    page.commands.bindDataSelect2(page.elements.genderCre, genderArr, "");


    page.commands.getAllGoiDv = () => {
        page.elements.testTypeSelected.empty();

        $.ajax({
            type: 'GET',
            url: page.url.getAllGoiDv
        })
            .done((data) => {
                const result = data.map(function (element) {
                    return Object.assign({}, {id: element.maGoi, text: element.tenGoi});
                });
                page.commands.bindDataSelect2(page.elements.testTypeSelected, result, "");
            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.commands.getAllProvince = () => {
        return $.ajax({
            type: 'GET',
            url: page.url.getAllProvince
        })
            .done((data) => {
                const provinces = data.results;
                const result1 = provinces.map(function (element) {
                    return Object.assign({}, {id: element.province_id, text: element.province_name});
                });
                page.commands.bindDataSelect2(page.elements.provinceCre, result1, '46');
            })
    }

    page.commands.getAllDistricts = (provinceId, elem) => {
        return $.ajax({
            type: 'GET',
            url: page.url.getAllDistricts + '/' + provinceId
        })
            .done((data) => {
                const districts = data.results;

                const result2 = districts.map(function (element) {
                    return Object.assign({}, {id: element.district_id, text: element.district_name});
                });
                page.commands.bindDataSelect2(elem, result2, '');
            })
    }

    page.commands.getAllWards = (districtId, elem) => {
        $.ajax({
            type: 'GET',
            url: page.url.getAllWard + '/' + districtId
        })
            .done((data) => {
                const wards = data.results;

                const result3 = wards.map(function (element) {
                    return Object.assign({}, {id: element.ward_id, text: element.ward_name});
                });
                page.commands.bindDataSelect2(elem, result3);
            })
    }

    page.commands.getCustomerById = (id) => {
        return $.ajax({
            type: 'GET',
            url: page.url.getCustomerById + '/' + id,
        });
    }

    page.commands.showLoading = () => {
        page.elements.loader.removeClass("hide");
    }

    page.commands.closeLoading = () => {
        page.elements.loader.addClass("hide");
    }

    page.commands.create = () => {
        const provinceId = page.elements.provinceCre.val();
        const provinceName = page.elements.provinceCre.find('option:selected').text();
        const districtId = page.elements.districtCre.val();
        const districtName = page.elements.districtCre.find('option:selected').text();
        const wardId = page.elements.wardCre.val();
        const wardName = page.elements.wardCre.find('option:selected').text();
        const address = page.elements.addressCre.val();

        let locationRegion = {
            provinceId,
            provinceName,
            districtId,
            districtName,
            wardId,
            wardName,
            address
        }

        const fullName = page.elements.fullNameCre.val();
        const email = page.elements.emailCre.val();
        const phone = page.elements.phoneCre.val();
        const genderName = page.elements.genderCre.find('option:selected').val();
        const birthDay = page.elements.dobCre.val().replace(/\s+/g, '');

        const maGoi = page.elements.testTypeSelected.find('option:selected').val();
        const takeDate = page.elements.appointmentDate.val().replace(/\s+/g, '');
        const timeBookName = page.elements.timeSelected.find('option:selected').val();
        const reasonNote = page.elements.reasonNote.val();
        const homeService = parseInt($('input[name=location]:checked').val()) ;
        console.log(homeService)

        let billTest = {
            maGoi,
            takeDate,
            timeBookName,
            fullName,
            email,
            genderName,
            phone,
            birthDay,
            locationRegion,
            reasonNote,
            homeService,
            userId: userId.toString()
        }

        console.log(JSON.stringify(billTest))
        page.commands.showLoading()
        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'POST',
            url: page.url.createBillTest,
            data: JSON.stringify(billTest)
        })
            .done((data) => {
                App.showSuccessNotification("Bạn đặt lịch thành công")
                location.href = "/dat-lich-thanh-cong";
            })
            .fail((error) => {
                const responseJSON = error.responseJSON;

                // page.elements.errorAreaCreate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Dep">${v}</label>`
                })

                // page.elements.errorAreaCreate.append(str).removeClass('hide').addClass('show');
                App.showErrorNotification("Đặt lịch không thành công!")
            })
            .always(() => {
                page.commands.closeLoading();
            })
    }

    function DateTimePicker() {

        if (jQuery('input.date').length) {
            $('input.date').datetimepicker({
                format: 'LT',
                format: 'DD / MM / YYYY',
                locale: 'vi'
            });
        }
    }

    $('input.date').datetimepicker({
        format: 'LT',
        format: 'DD / MM / YYYY',
        locale: 'vi'
    });

    page.initializeControlEvent = () => {
        page.elements.provinceCre.on('change', function () {
            const provinceId = $(this).val();
            page.commands.getAllDistricts(provinceId, page.elements.districtCre).then(() => {
                const districtId = page.elements.districtCre.val();
                page.commands.getAllWards(districtId, page.elements.wardCre);
            });
        })

        page.elements.districtCre.on('change', function () {
            const districtId = page.elements.districtCre.val();
            page.commands.getAllWards(districtId, page.elements.wardCre);
        })

        page.elements.btnCreate.on('click', function () {
            const response = grecaptcha.getResponse();
            if (response) {
                // page.elements.frmCreate.trigger("submit");
                page.commands.create();
            }

        });

        page.elements.btnClear.on('click', () => {
            page.elements.frmCreate[0].reset();
            // page.dialogs.elements.frmCreate.validate().resetForm();
            // page.dialogs.elements.frmCreate.find("input.error").removeClass("error");
            // page.dialogs.elements.errorAreaCreate.removeClass("show").addClass("hide").empty();
        });

    }
    page.loadData = () => {
        page.commands.getAllGoiDv();
        page.commands.getAllProvince().then(() => {
            const provinceId = page.elements.provinceCre.val();
            page.commands.getAllDistricts(provinceId, page.elements.districtCre).then(() => {
                const districtId = page.elements.districtCre.val();
                page.commands.getAllWards(districtId, page.elements.wardCre);
            });
        });
    }
    $(() => {
        page.loadData();
        page.initializeControlEvent();
    })
    // $.validator.addMethod(
    //     "regex",
    //     function (value, element, regexp) {
    //         return this.optional(element) || regexp.test(value);
    //     },
    //     "Giá trị không hợp lệ"
    // );

    /*page.elements.frmCreate.validate({
         onfocusout: function (element) {
             page.elements.frmCreate.valid();
         },
         rules: {
             fullNameCre: {
                 required: true,
                 minlength: 5,
                 maxlength: 25
             },
             emailCre: {
                 required: true,
                 regex: /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$/,
             },
             genderCre: {
                 required: true,
             },
             dayCre: {
                 required: true,
                 regex: '^(1|2?[0-9]|3[0-1])$'
             },
             monthCre: {
                 required: true,
                 regex: '^(0?[1-9]|1[0-2])$'
             },
             yearCre: {
                 required: true,
                 regex: '^(19|20)\\d{2}$'
             },
             phoneCre: {
                 required: true,
                 // regex: /^\+\d{1,2} \(\d{3}\) \d{3}-\d{4}$/
             },
             jobCre: {
                 required: true
             },
             identityCre: {
                 required: true,
                 regex: /^\d{9}$/
             },
             addressCre: {
                 required: true,
                 maxlength: 50
             },
         },
         messages: {
             fullNameCre: {
                 required: "Bắt buộc nhập Full Name",
                 minlength: 'Full Name tối thiểu ${0} ký tự',
                 maxlength: 'Full Name tối đa ${0} ký tự'
             },
             emailCre: {
                 required: "Email là bắt buộc",
                 regex: 'Email không hợp lệ'
             },

             genderCre: {
                 required: 'Vui lòng chọn giới tính',
             },
             dayCre: {
                 required: 'Vui lòng chọn ngày',
                 regex: 'Ngày không hợp lệ'
             },
             monthCre: {
                 required: 'Vui lòng chọn ngày tháng',
                 regex: 'Tháng không hợp lệ'
             },
             yearCre: {
                 required: 'Vui lòng chọn ngày tháng',
                 regex: 'Năm không hợp lệ'
             },
             phoneCre: {
                 required: 'Điện thoại là bắt buộc',
                 // regex: 'Số điện thoại không hợp lệ'
             },
             jobCre: {
                 required: 'Vui lòng chọn công việc'
             },
             identityCre: {
                 required: 'Số CMND là bắt buộc',
                 regex: 'Số CMND không đúng định dạng'
             },
             addressCre: {
                 required: 'Địa chỉ là bắt buộc',
                 maxlength: 'Địa chỉ tối đa ${0} ký tự'
             },
         },
         // errorLabelContainer: "#modalCreate .error-area",
         // errorPlacement: function (error) {
         //     error.appendTo("#modalCreate .error-area");
         // },
         errorElement: "div",
         errorClass: "style_alertSpan__2UfTW",

         showErrors: function (errorMap, errorList) {
             // if (this.numberOfInvalids() > 0) {
             //     page.dialogs.elements.errorAreaCreate.removeClass("hide").addClass("show");
             // } else {
             //     page.dialogs.elements.errorAreaCreate.removeClass("show").addClass("hide").empty();
             //     $("#frmCreate input.error").removeClass("error");
             // }
             this.defaultShowErrors();
         },
         submitHandler: function (e) {
             page.commands.create();
             e.preventDefault();
         }
     })*/
</script>
</body>
</html>